<!-- 検索レンジが"User"の場合 -->
<% if @range == "User" %>
  <h1>Users search for "<%= @word %>"</h1>
  <!-- 検索結果が存在しない場合 -->
  <% if @users.empty? %>
    <p>I searched it but I couldn't find anything.</p>
  <% else%>
    <%= render "users/index", users: @users%>
  <% end %>
<!-- 検索レンジが"Book"の場合 -->
<% else %>
  <h1>Books search for "<%= @text %>"</h1>
  <!-- 検索結果が存在しない場合 -->
  <% if @books.empty? %>
    <p>I searched it but I couldn't find anything.</p>
  <% else%>
    <%= render "books/index", books: @books%>
  <% end %>
<% end %>