<table class='table'>
  <thead>
    <tr>
      <th>image</th>
      <th>name</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% users.each do |user| %>
      <tr id="follower_buttons_<%= user.id %>">
        <%= render "users/user", user: user %>
      </tr>
    <% end %>
  </tbody>
</table>
